@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn greeting by <a href="https://docs.microsoft.com/aspnet/core">click on each link to get greetings from five different languages</a>.</p>
    <br />
    <a href="https://localhost:44361/api/greeting">English</a>
    <br />
    <a href="https://localhost:44361/api/greeting?culture=zh-CHS">Chinese</a>
    <br />
    <a href="https://localhost:44361/api/greeting?culture=ja-JP">Japanese</a>
    <br />
    <a href="https://localhost:44361/api/greeting?culture=ms-MY">Malay</a>
    <br />
    <a href="https://localhost:44361/api/greeting?culture=th-TH">Thai</a>
</div>
